body {
  background: linear-gradient(to bottom, #EBE9E1, #D5D4C7); 
  font-family: 'Raleway', sans-serif; 
  color: #333;
  padding: 0;
  margin: 0;
}

.main-content {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  background: #FFFFFF; 
  border-radius: 20px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}

.service-entry {
  background-color: #FFFFFF;
  border: 1px solid #DDD; 
  border-radius: 15px; 
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out; 
}


.service-entry:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
  transform: translateY(-3px);
}

.search-title {
  font-size: 24px; 
  font-weight: bold; 
  text-align: center; 
  color: #333; 
  padding: 40px 0; 
}

  .entry-content {
    padding: 30px;
  }
  
  .comment-form input {
    padding: 6px 12px;
    font-size: 0.9em;
    border-radius: 10px;
    border: 1px solid #ddd;
    width: 50%; 
    color: #333;
  }
 
  .comment-form button {
    background-color: #007bff; 
    color: white; 
    border-radius: 15px; 
    padding: 20px 20px; 
    transition: background-color 0.3s; 
  }
  
  .delete-comment {
    color: #cc0000; 
    cursor: pointer; 
    border: none; 
  }

  .search-container { 
    padding:15px;
  }
  
  .search-input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 100% center;
    border-radius:0;
    border-bottom: 1px solid #575756;
    border: 2px solid transparent;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
    &::placeholder {
        color: rgba(87, 87, 86, 0.8); 
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    &:hover,
    &:focus {
        padding: 12px 0;
        outline: 0;
        border: 2px solid transparent;
        border-bottom: 1px solid #575756; 
        border-radius: 0;
        background-position: 100% center;
    }
  }

  
.search-icon {
  cursor: pointer;
  color: #333; 
  font-size: 1.5em; 
  margin-left: 10px; 
}
  
.search-button:hover {
  color: #007bff;
}
  
  .search-input:focus {
    border-bottom: 2px solid #555; 
  }
  .search-button {
    padding: 10px 20px;
    border: none;
    background: none; 
    cursor: pointer;
    outline: none
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }