
.modern-navbar {
  background-color: #E43D12;
  padding: 10px; 
}

.navbar-brand-modern {
  color: white;
  font-size: 1.5em; 
  font-weight: bold; 
}


.modern-link {
  color: white; 
  margin-right: 15px; 
  text-transform: uppercase; 
  font-weight: 600; 
  transition: color 0.3s; 
}


.modern-link:hover {
  color: #f0f0f0; 
  text-decoration: none; 
}


.navbar-toggler {
  border-color: white; 
}


.navbar-toggler-icon {
  background-color: white; 
}


.navbar-collapse {
  justify-content: flex-end; 
}
