.modern-navbar {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}

.navbar-brand-modern {
  filter: grayscale(100%) brightness(150%);
}

.modern-link {
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  transition: color 0.3s ease;
}

.modern-link:hover, .modern-link:focus {
  color: #007bff; 
  text-decoration: none;
}


@media (max-width: 991px) {
  .modern-navbar .navbar-brand-modern {
    margin-left: 15px;
  }

  .navbar-collapse {
    margin-top: 10px;
  }
}
