  .footer-social .nav-link {
    transition: transform 0.3s ease-in-out, color 0.3s;
  }
  
  .footer-social .nav-link:hover {
    transform: translateY(-5px);  
    color: #61dafb;  
  }

  .footer-brand h5 {
    color: #61dafb;  
    text-transform: uppercase;  
    border-bottom: 2px solid #61dafb;  
    display: inline-block;
  }

  .footer {
    border-top: 1px solid #6c757d;  
    padding-top: 2rem; 
  }

  @media (max-width: 768px) {
    .footer {
      text-align: center;  
    }
  
    .footer-nav,
    .footer-social {
      display: flex;
      justify-content: center;  
    }
  
    .footer-copywright {
      padding-top: 1rem;
    }
  }
  @media (max-width: 768px) {
    .footer {
      text-align: center;  
    }
  
    .footer-nav,
    .footer-social {
      display: flex;
      justify-content: center; 
    }
  
    .footer-copywright {
      padding-top: 1rem;  
    }
  }
    
  